body{
    
    font-family: Georgia, 'Times New Roman';
    padding: 25px 50px;
      
}
p {
    margin: 25px;
  }
h1 {
    color: rgb(78, 4, 4);
    text-shadow: 2px 2px 4px #000000;
    background-color:burlywood;
    
  }
  h2,h3{
      color:rgb(153, 51, 68);
      background-color:burlywood;
 }
  
